@font-face {
  font-family: 'Poetsen One';
  src: url("../public/fonts/PoetsenOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; 
  font-display: swap;
}
#root{
    font-family: 'Poetsen One', sans-serif;
}

.preloader {
    background-image: linear-gradient(to left, #664859, #64455e, #5e4264, #55416c, #474173, #374677, #234a79, #004e79, #005473, #04586a, #235c62, #375e5b);
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    opacity: 0;
    transition: opacity 1.5s ease;
    z-index: 9999;
    pointer-events: none;
}

.preloader.fade-in {
    opacity: 1;
    pointer-events: all;
}

.preloader.fade-out {
    opacity: 0;
    pointer-events: none;
}

.preloader .logo-preloader {
    width: 100px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    animation: iconPulse 1.5s infinite ease-in-out;
}

@keyframes iconPulse {
  0% {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1) ;
  }

  100% {
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
  }
}

#template-page {
    opacity: 0;
    transition: all 0.3s;
}

#template-page.template-opacity {
    opacity: 1;
}



